.carousel {
    padding: 81px 0;
    &__inner {
        max-width: 750px;
        margin: 0 auto;
        position: relative;
    }
    &__item {
        img {
            max-width: 100%;
        }
    }
    .slick-prev,
    .slick-next {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        img {
           width: 31px;
           height: 50px; 
        }
    }
    .slick-prev {
        left: -66px;
    }
    .slick-next {
        right: -66px;
    }
    .slick-dots {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px auto 0;
        button {
            width: 15px;
            height: 15px;
            border: 2px solid #ccc;
            font-size: 0;
            border-radius: 50%;
            padding: 0;
            display: inline-block;
            margin: 0 3px;
        }
        .slick-active {
            button {
                border-color: $main-color;
                background-color: transparent;
                width: 16px;
                height: 16px;
            }
        }
    }
}